<!--
  Generated template for the AddAddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add Address</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form #addAddressDetailsForm="ngForm" novalidate class="m-t-20">

    <ion-list>
      <ion-item>
        <ion-label stacked> First Name</ion-label>
        <ion-input type="text" name="firstName" #firstName="ngModel" [(ngModel)]="addressDetails.firstName" required></ion-input>
      </ion-item>
      <p ion-text [hidden]="firstName.valid || submitted == false" color="danger" padding-left>
        FirstName is required
      </p>
      <p ion-text *ngIf="firstName.valid && serverError.firstName" color="danger" padding-left>
        {{serverError.firstName[0]}}
      </p>

      <ion-item>
        <ion-label stacked>Last Name</ion-label>
        <ion-input type="text" name="lastName" #lastName="ngModel" [(ngModel)]="addressDetails.lastName" required></ion-input>
      </ion-item>
      <p ion-text [hidden]="lastName.valid || submitted == false" color="danger" padding-left>
        LastName is required
      </p>
      <p ion-text *ngIf="lastName.valid && serverError.lastName" color="danger" padding-left>
        {{serverError.lastName[0]}}
      </p>

      <ion-item>
        <ion-label stacked>Company</ion-label>
        <ion-input type="text" name="company" #company="ngModel" [(ngModel)]="addressDetails.company" required></ion-input>
      </ion-item>
      <p ion-text [hidden]="company.valid || submitted == false" color="danger" padding-left>
        Company is required
      </p>
      <p ion-text *ngIf="company.valid && serverError.company" color="danger" padding-left>
        {{serverError.company[0]}}
      </p>

      <ion-item>
        <ion-label stacked>Address 1</ion-label>
        <ion-input type="text" name="address1" #address1="ngModel" [(ngModel)]="addressDetails.address1" required></ion-input>
      </ion-item>
      <p ion-text [hidden]="address1.valid || submitted == false" color="danger" padding-left>
        Address1 is required
      </p>
      <p ion-text *ngIf="address1.valid && serverError.address1" color="danger" padding-left>
        {{serverError.address1[0]}}
      </p>

      <ion-item>
        <ion-label stacked>Address 2</ion-label>
        <ion-input type="text" name="address2" [(ngModel)]="addressDetails.address2"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label stacked> City</ion-label>
        <ion-input type="text" name="city" #city="ngModel" [(ngModel)]="addressDetails.city" required></ion-input>
      </ion-item>
      <p ion-text [hidden]="city.valid || submitted == false" color="danger" padding-left>
        City is required
      </p>
      <p ion-text *ngIf="city.valid && serverError.city" color="danger" padding-left>
        {{serverError.city[0]}}
      </p>

      <ion-item>
        <ion-label stacked>Pincode</ion-label>
        <ion-input type="number" name="postCode" #postCode="ngModel" [(ngModel)]="addressDetails.postCode" required></ion-input>
      </ion-item>
      <p ion-text [hidden]="postCode.valid || submitted == false" color="danger" padding-left>
        Pincode is required
      </p>
      <p ion-text *ngIf="postCode.valid && serverError.postCode" color="danger" padding-left>
        {{serverError.postCode[0]}}
      </p>

      <ion-item>
        <ion-label stacked>Country</ion-label>
        <ion-select name="countryId" #countryId="ngModel" [(ngModel)]="addressDetails.countryId" (ionChange)="onCountryChange($event)"
          required>
          <ion-option [value]="country.id" *ngFor="let country of countrys">{{country.name}}</ion-option>
        </ion-select>
      </ion-item>
      <p ion-text [hidden]="countryId.valid || submitted == false" color="danger" padding-left>
        Country is required
      </p>
      <p ion-text *ngIf="countryId.valid && serverError.countryId" color="danger" padding-left>
        {{serverError.countryId[0]}}
      </p>

      <ion-item>
        <ion-label stacked>Region/State</ion-label>
        <ion-select name="stateId" #stateId="ngModel" [(ngModel)]="addressDetails.stateId" [disabled]="states.length <= 0" required>
          <ion-option [value]="state.id" *ngFor="let state of states">{{state.name}}</ion-option>
        </ion-select>
      </ion-item>
      <p ion-text [hidden]="stateId.valid || submitted == false" color="danger" padding-left>
        State is required
      </p>
      <p ion-text *ngIf="stateId.valid && serverError.stateId" color="danger" padding-left>
        {{serverError.stateId[0]}}
      </p>

      <ion-list radio-group name="defualtAddress" [(ngModel)]="addressDetails.defualtAddress">
        <ion-list-header>
          Set as default address
        </ion-list-header>
        <ion-item>
          <ion-label>Yes</ion-label>
          <ion-radio value="yes"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio value="no"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-list>

    <ion-row>
      <ion-col padding>
        <button type="submit" (click)="addAddressDetails(addAddressDetailsForm)" ion-button block large>
        Save
      </button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>